body {
    background-color: black;
    color: lightblue;
  }
  
  h1,h2 {
    color: lightblue;
    font-style: italic;
  }

  p,li {
    color: lightblue;
  }

  a{
    color: lightcoral;
 
  }